<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>test</title>
<link rel="stylesheet" href="/static/css/style_board.css" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<div class="container">
		<div id="board">
	<table id="table_board" class="list">
		<colgroup>
			<col width="150">
			<col width="60%">
			<col width="250">
			<col width="100">
			<col width="150">
		</colgroup>
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>닉네임</th>
				<th>날짜</th>
				<th>조회수</th>
			</tr>
		</thead>
		<tbody>			
				<tr>
					<td colspan="5">
						<p>	
  						게시글이 없습니다.
						</p>
					</td>			
				</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5">
					<a href="#">글쓰기</a>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
</body>
</html>